@import "/styles/globals";

.footer {
    width: 100%;
    height: 50px;
    background-color: color(blue,base);
    color: color(white, base);
    display: flex;
    font-size: 1.5rem;
    margin-top: auto;

    p {
        margin: auto;
    }
}