
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "tabler-react/dist/Tabler.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import "common.scss";

body {
    font-family: 'Nunito', sans-serif;
}

.pointer {
    cursor: pointer;
}

.divide-y>:not(template)~:not(template) {
    border-top: 1px solid rgba(101,109,119,.16)!important
}

.divide-y>:not(template):not(:first-child) {
    padding-top: 1rem!important
}

.divide-y>:not(template):not(:last-child) {
    padding-bottom: 1rem!important
}